body {
    padding: 0 200px;
    background-color: gray;
}

.wrapper {
    background-color: white;
    padding: 40px 100px;
    font-size: 20px;
}

.img1 {
    display: block;
    margin: auto;
}

table {
    width: 100%;
}

thead {
    font-weight: bold;
}

tbody > tr:nth-of-type(odd)  {
    background: #f2f2f2;
}

h1 {
    color: red;
}